/* Button Start */

.button-74 {
  background-color: white;
  border: 2px solid black;
  border-radius: 30px;
  box-shadow: black 4px 4px 0 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto Slab";
  font-weight: 600;
  font-size: 18px;
  padding: 0 12px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  color: white;
  border: 2px solid white;
  background-color: black;
  box-shadow: white 4px 4px 0 0;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 100px;
    padding: 0 20px;
  }
}

/* Button End */

/* Navbar Start */

.navbar {
  border-bottom: 10px ridge white;
}

.navbar-brand {
  display: flex;
  align-items: center;
  user-select: none;
}

.navbar-toggler {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  line-height: 1;
  background-color: transparent;
  border-radius: 0.25rem;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
}

.navbar-nav {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  padding: 0.5rem 1rem;
}

.custom-nav-link {
  margin-left: 100px;
}

.navbar-brand .text-white {
  margin-left: 10px;
}

.navbar-nav {
  flex-direction: row;
}

#icon-cart:hover {
  color: chartreuse;
}

#icon-cart:active {
  color: palegreen;
}

#icon-user:hover {
  color: aqua;
}

#icon-user:active {
  color: paleturquoise;
}

i {
  color: #FFFFFF;
}

#button-order {
  background-color: #FFD93D;
  border: 2px solid black;
  box-shadow: black 4px 4px 0 0;
  color: black;
}

#button-order:hover {
  color: #FFD93D;
  background-color: black;
  border: 2px solid #FFD93D;
  box-shadow: #FFD93D 4px 4px 0 0;
}

/* Navbar End */

/* Footer Start */

footer {
  padding: 0;
  margin: 0;
  border-top: 10px ridge white;
}

.footer-style {
  padding: 2rem;
  font-weight: bold;
  color: #3F0713;
}

.footer-style h5 {
  font-family: "Roboto Slab";
}

.footer-style p {
  font-family: "Outfit";
}

.footer-style a {
  color: white;
}

.footer-style a:hover {
  color: #FF8400;
}

.footer-end-text {
  display: flex;
  justify-content: space-evenly;
}

.end-links a:hover {
  color: aqua;
}

.end-links a:active {
  color: paleturquoise;
}

/* Footer End */

/* Hero & Showcase Overlay w/ Media Queries Start */

.showcase {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("Images/Hero.jpg")
  no-repeat center center/cover;
}

.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.showcase-top {
  position: relative;
  height: 90px;
  z-index: 2;
}

.showcase-top .logo-text {
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  --webkit-font-smoothing: antialiased;
  font-size: 38px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showcase-top a {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.showcase-content {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 9rem;
  z-index: 2;
}

.showcase-content h1 {
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 1.1rem;
  margin: 0 0 2rem;
}

.showcase-content p {
  font-weight: 400;
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
  line-height: 1.25rem;
  margin: 2rem 0 2rem 0;
}

.showcase-content .btn-xl {
  margin-top: 3rem;
}

@media (max-width: 960px) {
  .showcase {
    height: 100vh;
  }

  .showcase-top .logo-text {
    color: var(--primary-color);
    font-family: "Roboto", sans-serif;
    --webkit-font-smoothing: antialiased;
    font-size: 38px;
    position: absolute;
    top: 30%;
    left: 5%;
    transform: translate(0);
  }

  .showcase-content h1 {
    font-weight: 700;
    font-size: 3.7rem;
    line-height: 1rem;
    margin: 0 0 2rem;
  }

  .showcase-content p {
    font-weight: 400;
    color: #fff;
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: 1rem;
    margin: 0 0 2rem;
  }

  .btn-xl {
    font-size: 1.5rem;
    padding: 1.2rem 1.8rem;
    text-transform: uppercase;
  }
}

@media (max-width: 500px) {
  .showcase::after {
    box-shadow: inset 75px 50px 100px #000000, inset -75px -50px 100px #000000;
  }

  .showcase {
    height: 100vh;
  }

  .showcase-top .logo-text {
    font-size: 1.5rem;
    top: 30%;
    left: 15%;
    transform: translate(0);
  }

  .showcase-content h1 {
    font-size: 1.8rem;
    line-height: 1rem;
  }

  .showcase-content p {
    font-size: 1.2rem;
  }

  .btn {
    margin-right: 0.1rem;
  }

  .btn-xl {
    font-size: 1.2rem;
    padding: 1rem 1.2rem;
    text-transform: uppercase;
  }
}

.showcase-content h1, .showcase-content p {
  text-shadow: 2px 2px 2px black, -2px -2px 2px black, 2px -2px 2px black, -2px 2px 2px black;
}

.styled-hr {
  border: 5px ridge #3F0713;
  height: 1px;
  background: linear-gradient(to right, #fff, #ccc, #fff);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  opacity: 1;
}

/* Hero & Showcase Overlay w/ Media Queries Start */

/* Footer Button Styles Start */

.footer-btn-style .btn-outline-dark {
  border-color: white;
  color: #FFD700;
}

.footer-btn-style .btn-outline-dark:hover {
  background-color: #2196F3;
  color: #3F0713; 
  border-color: white;
}

.icon-style {
  width: 40px;
  height: 40px;
  border: 2px solid #FFD700;
  color: #FFD700;
}

.icon-style:hover {
  background-color: #FFD700;
  color: #3F0713;
  border-color: #3F0713;
}

.icon-style:active {
  background-color: turquoise !important;
  color: #3F0713 !important;
  border-color: white !important;
}

#button-explore {
  font-size: 24px;
  padding: 0 20px;
  line-height: 50px;
}

/* Footer Button Styles End */
